/*Styling som gjelder alt ------------------------------------------*/

/*Fjerner automatisk padding/margin på alt. Fjerner rammen rundt siden, i tilleg til rundt andre elementer*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Inkluderer padding osv i bredden på alt*/
}
/*Generell styling-------------------------------------------------*/

body {
    background-color: #2D2D2A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                                
                                                
                                                                                      
}


/*Fjerner underlinja fra linker*/
a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: normal;
    color: #E5DCC5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*header ----------------------------------------*/

.pageheader {
    background-color: #4C4C47; ;
    height: 70px;
    width: 100%;
    display: flex; 
    position: fixed; /*Headeren er stuck på toppen*/
    flex-direction: row; /*Tingene i headeren er på samme rad*/
    justify-content: space-between; /*Tingene i headeren er så langt unna hverandre som mulig*/
    align-items: center;
    padding: 0 15px;
    border-bottom: 5px solid #848FA5;
}

/*Linkene i navbaren i headeren skal være tett intill hverandre på samme rad*/
.headernav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.headernav a {
    background-color: #c14953;
    color: #E5DCC5;
    padding: 0.7rem; 
    border-radius: 0.4rem; 
}

.headernav a:hover {
    background-color: #7f2c33;
}

/*Annet farge på linkene med klassen current*/
a.current {
    cursor: default;
    background-color: #7f2c33;
}

/*Fjerner dotten fra tingene i listen*/
.headernav li {
    list-style: none;
}


/*Sidebar-------------------------------------*/
.openbtn {
    display: none;
    background: none;
    border: none;
    margin: 5px;
    font-size: 1.7rem;
    color: #E5DCC5;
    position: fixed;
    cursor: pointer;
}

.sidebar {
    background-color: #4C4C47;
    height: 100vh;
    z-index: 999; /*Er over de andre tingene på siden*/
    overflow-x: hidden; 
    position: fixed;
    transition: 0.5s; /*Når stylingen endres ser man overgangen i 0.5 sekunder*/
    width: 0; /*Har ingen bredde til å begynne med*/
}

.closebtn {
    background: none;
    border: none;
    color: #E5DCC5;
    font-size: 2rem;
    padding: 5px;
    position: absolute; /*Er alltid på det samme stedet i sidebaren*/
    right: 0;
    cursor: pointer;
}



/*Hovedinnhold -------------------------------*/

main {
    width: 80vw;
    margin: auto;
    padding-top: 90px;
    color: #E5DCC5;
    
}

main h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
}

.pagetitle {
    border-bottom: 5px #c14953 dashed ;
    padding: 0px 30px 0px 30px;
}

main p {
    text-align: center;
    color: #E5DCC5;
    margin: 10px;
    font-size: 1.1rem;
}

.split {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
    align-items: center;
    margin: 20px; 
}

.split > * {
    flex: 1 1 400px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.split .bigger {
    flex: 3 1 550px; 
}

.split img {
    width: 90%; 
    border-radius: 20px;
    border: #848FA5 5px solid;
    margin: auto;
}

main li {
    list-style-type: lower-roman;
    color: #E5DCC5;
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 30px;
}

.imagesource {
    color: gray;
}

.imagesource a {
    color: gray;
    text-decoration: underline;
}


/*Tabeller -------------------------------*/

table {
    border-collapse: collapse;/*Fjerner mellomrommet imellom rutene i tabellen*/
    color: #E5DCC5;
    font-size: 0.9rem;
}

th {
    background-color: #848FA5;
    color: #2D2D2A;
}

th, td {
    border: #000000 2px solid;
    padding: 3px;
}

tr{
    background-color: #444441;
}


/*Annenhver av radene i tabellen har en annen farge*/
tr:nth-child(even){
    background-color: #2D2D2A;
}

/*Den første ruta i hver rad er rød, om ikke annet blir spesifisert*/
td:first-child {
    background-color: #7f2c33;
}

tfoot td:first-child{
    background-color: #848FA5;
    color: #2D2D2A;
    font-size: 0.9rem;
}


/*Responsiv gridfelt -----------------------------------------*/

.responsivegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /**/
    justify-items: center;
    margin-top: 30px;
    gap: 20px;
}

/*FAQ----*/

.qna {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4C4C47;
}
.q {
    align-self: flex-start;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.q p {
    font-size: 1.2rem;
}

.a {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.q > div, .a > div {
    font-size: 2.5rem;
    font-weight: bold;
    color: #848FA5;
}

/*Test ------------------------------------------*/
#startQuiz {
    display: flex;
    justify-content: center;
}

#quizbutton {
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5rem;
    background-color: #848FA5;
    margin: 20px;
    cursor: pointer;
}

.testquestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.testquestion h2 {
    font-size: 1.5rem;
    text-align: center; 
    padding: 20px 20px 0 20px;
}

.testalternatives {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100% ;
}

.alternative  {
    border: none;
    background-color: #848FA5;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 1rem;
    width: 30%;
    cursor: pointer;
}

#navigateQuiz {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#previous, #next {
    visibility: hidden;
    background-color: #c14953;
    color: #E5DCC5;
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#previous:hover, #next:hover {
    background-color: #7f2c33;
}

#result {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#result h2, #result h3 {
    text-align: center;
}



/*Responsivtet -----------------------------*/

/*For små skjermer*/
@media (max-width: 640px) {
    .pageheader {
        display: none; /*skjul headeren*/
    }

    .openbtn {
        display: block; /*Vis åpne knappen*/
    }

    .headernav {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .headernav a {
        padding: 10px 20px;
        display: block;
        width: 250px;
        text-align: center;
    }

    .headertitle {
        padding-top: 10px;
        width: 100%;
        text-align: center;
        overflow-x: hidden;
        white-space: nowrap;
    }

    main h1 {
        font-size: 2.1rem;
    }

    main {
        width: 100vw;
        padding-top: 20px;
    }

    .split {
        margin: 20px;
    }

    .qna {
        width: 90%;
    }

    .testalternatives {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .alternative {
        width: 90%;
    }

    table {
        font-size: 0.8rem;
    }

}

